.b-header
  height 170px
  transition( all 0.5s ease )
  font-weight 400
  background-color #fff
    
  @media( max-width 767px )
    height 70px
  
  &.i-fixed
    height 170px
    width 100%
    
  &-bg
    text-align center
    
    img
      height auto
  
  &__container
    width auto
    background-color #f4f4f4
    
    .i-fixed &
      position fixed
      top 0
      left 0
      width 100%
      z-index 995
    
    @media( max-width 767px )
      height 70px
      
  .row
    margin-bottom 0
    margin-right -15px
    margin-left -15px
        
  &__body
    padding 22px 0 0
    
    .i-fixed &
      padding 15px 0 14px
  
    @media( max-width 767px )
      padding 15px 0 14px
      
      .b-header__tel
        margin-top 8px
        
        img
          vertical-align top
        
      .b-header__tel img
        width 100%
    
  
  &__logo
    text-align center
    display block
    transition( all 0.5s ease )
    
    .i-fixed &
      height 35px
    
    img
      height 66px
      width 230px
      vertical-align top
      transition( all 0.5s ease )
    
      .i-fixed &
        height 35px
        width 122px
        margin-top 4px
    
    @media( max-width 767px )
      height auto
      margin-top 1px
    
      .i-fixed &
        margin-top 1px
      
      img
        height 35px
        width 122px
        height auto
        
        .i-fixed &
          margin-top 0
  
  &__tel
    font-size 13.5pt
    margin-top 21px
    display block
    transition( all 0.5s ease )
    line-height 1.2
    
    i
      font-style normal
      color #666666
      font-size 8pt
    
    .i-fixed &
      font-size 11pt
      margin-top 6px
      transition( all 0.5s ease )
      
      @media( max-width 767px )
        margin-top 8px
    
    img
      width 24px
      height 24px
      vertical-align top
      transition( all 0.5s ease )
    
  &__menu
    padding-top 23px
    transition( all 0.5s ease )
    display flex
    align-items center
    
    .b-header a&-link
      display none
      
    .i-fixed.b-header a&-link
      display inline-block
    
    &-span
      
      .i-fixed &
        display none
    
    span,
    a
      line-height 1.2
      display inline-block
      font-size 10.5pt
      
      .i-fixed &
        font-size 8.5pt
    
    img
      width 24px
      height 24px
      vertical-align top
      transition( all 0.5s ease )
    
    .i-fixed &
      padding-top 8px
      
    @media( max-width 767px )
    
      &,
      .i-fixed &
        padding-top 9px
        
  &__top-menu
    text-align center
    overflow hidden
    font-size 10.5pt
    border-top 1px solid #eeeeee
    height 62px
    padding 10px 0
    margin-top 20px
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    
    a
      display inline-block
      margin 0 20px
      white-space nowrap
      line-height 1.2
      
    .i-fixed &
      display none
      
  &__menu-icon
  
    @media( min-width 992px )
      margin-right 35px
    
      .b-header:not(.i-fixed) &
        display none
        
.header-block
  color #afafaf
  font-size 9pt
  
.b-footer
  color #5e7b84
  font-size 9pt
  padding 50px 0 100px
  
  &__link
    display flex
    justify-content left
    align-items center
    
    &-image
      margin-right 15px      
  
  .b-social-icon
    margin-right 34px
    
  p
    margin-bottom 3px
    
  & p&-phone
    margin-bottom 23px