hr.i-size-L.i-line

.b-paginator
  
  a( href="" ) 1
  a( href="" ) 2
  a( href="" ) 3
  span 4
  a( href="" ) 5
  a( href="" ) 6
  span.b-paginator__dots &hellip;
  a( href="" ) 56
  
hr.i-size-L.i-line
