
<!-- start /components/schedule/-->
<link rel="stylesheet" href="/components/schedule/style.css"/>
<script src="/components/schedule/script.js"></script>
<div class="b-schedule">
  <h1>Расписание курсов фитнес обучения в 2018</h1>
  <hr class="i-line"/>
  <div class="b-schedule__filter"><a id="scheduleFilterLink" href="" class="b-schedule__filter-link"><span class="i-not-filtered">Показать только предстоящие курсы</span><span class="i-filtered hidden">Показать все курсы</span></a></div>
  <div class="b-schedule__block">
    <h2>Расписание курсов в январе</h2>
    <div class="b-schedule__item i-filter"><a href="/schedule/item/" style="background-image: url(/upload/schedule/1.png);" class="b-schedule__img"></a>
      <div class="b-schedule__text">
        <h3><a href="/schedule/item/">Семинар «Тестирование осанки»</a></h3>
        <p>Семинар, раскрывающий особенности изменений стопы в результате разных вариантов наклонов таза и разных видов </p>
        <p>Курс для: персональных и групповых фитнес тренеров, йога-терапевтов, специалисты психосоматического направления, специалисты физической реабилитации</p>
        <p class="b-schedule__time"><i style="background-image: url(/template/images/svg/schedule-time.png);"></i><span>21 час очно и 2 часа дистанционно</span></p>
      </div>
      <div class="b-schedule__date">
        <div class="b-schedule__date-time">1-2 января</div>
        <div class="b-schedule__date-price">
          <h6>Стоимость</h6>15 000 руб.
        </div>
        <div class="b-schedule__date-social">
          <h6>Отчеты в соц. сетях</h6>
          <div class="b-schedule__date-icons"><a href="" target="_blank" style="background-image: url( '/template/images/svg/facebook.svg' );" class="b-social-icon"></a><a href="" target="_blank" style="background-image: url( '/template/images/footer/youtube.png' );" class="b-social-icon"></a><a href="" target="_blank" style="background-image: url( '/template/images/svg/vk.svg' );" class="b-social-icon"></a></div>
        </div>
      </div>
    </div>
    <hr class="i-size-S"/>
    <div class="b-schedule__item i-soon"><a href="/schedule/item/" style="background-image: url(/upload/schedule/2.png);" class="b-schedule__img"></a>
      <div class="b-schedule__text">
        <h3><a href="/schedule/item/">Семинар «Тестирование осанки»</a></h3>
        <p>Семинар, раскрывающий особенности изменений стопы в результате разных вариантов наклонов таза и разных видов </p>
        <p>Курс для: персональных и групповых фитнес тренеров, йога-терапевтов, специалисты психосоматического направления, специалисты физической реабилитации</p>
        <p class="b-schedule__time"><i style="background-image: url(/template/images/svg/schedule-time.png);"></i><span>21 час очно и 2 часа дистанционно</span></p>
      </div>
      <div class="b-schedule__date">
        <div class="b-schedule__date-time">1-2 января<span>Осталось: 5 дней, 3 места</span></div>
        <div class="b-schedule__date-price">
          <h6>Стоимость</h6>15 000 руб.
        </div>
        <div class="b-schedule__date-button"><a href="" class="b-button i-size-M">Оплатить</a></div>
      </div>
    </div>
  </div>
  <hr class="i-size-M"/>
  <div class="b-schedule__block">
    <h2>Расписание курсов в феврале</h2>
    <div class="b-schedule__item"><a href="/schedule/item/" style="background-image: url(/upload/schedule/3.png);" class="b-schedule__img"></a>
      <div class="b-schedule__text">
        <h3><a href="/schedule/item/">Семинар «Тестирование осанки»</a></h3>
        <p>Семинар, раскрывающий особенности изменений стопы в результате разных вариантов наклонов таза и разных видов </p>
        <p>Курс для: персональных и групповых фитнес тренеров, йога-терапевтов, специалисты психосоматического направления, специалисты физической реабилитации</p>
        <p class="b-schedule__time"><i style="background-image: url(/template/images/svg/schedule-time.png);"></i><span>21 час очно и 2 часа дистанционно</span></p>
      </div>
      <div class="b-schedule__date">
        <div class="b-schedule__date-warning">Внимание!<br>Даты обучения будут изменены.<br>Следите за расписанием.</div>
        <div class="b-schedule__date-price">
          <h6>Стоимость</h6>15 000 руб.
        </div>
        <div class="b-schedule__date-button"><a href="" class="b-button i-size-M">Записаться</a></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/schedule/-->