@import '../../styl/component-include.styl'

.b-schedule
  
  &__filter
    position relative
  
    &-link
      font-size 9pt
      position absolute
      top 20px
      right 0
      
    @media( max-width 767px )
      position static
      
      &-link
        position static
        top auto
        right auto
    
  &__item
    display flex
    background-color #fff
    box-shadow 0 0 20px rgba( 0,0,0,.1 )
    transition( all .1s ease)
    
    &:hover
      transform( scale(1.03))
      box-shadow 0 0 20px rgba( 0,0,0,.2 )
      
    @media( max-width 767px )
      display block
    
  &__img
    width calc(25% - 15px)
    margin-right 15px
    background-repeat no-repeat
    background-position center top
    background-size cover
    
    @media( max-width 767px )
      width auto
      margin-right 0
      height 260px
      display block
    
  &__text
    width 41.667%
    padding 33px 15px
    font-size 10.5pt
    
    @media( max-width 767px )
      width auto
      padding 30px
    
    p
      margin 20px 0
    
  p&__time
    margin-bottom 0
    
    @media( max-width 1100px )
      text-align center
    
    i
      display inline-block
      vertical-align middle
      width 24px
      height 24px
      background-repeat no-repeat
      background-position center
      background-size cover
      margin-right 10px
      
      @media( max-width 1100px )
        display block
        margin 0 auto
      
    span
      display inline-block
      vertical-align middle
    
  &__date
    width 33.333%
    padding 27px 15px
    text-align center
    
    @media( max-width 767px )
      width auto
      padding 30px 30px 50px
    
    h6
      font-size 8pt
    
    &-time
      font-size 17pt
      height 64px
      margin-bottom 20px
      
      span
        font-size 9pt
        display block
        
    &-warning
      font-size 9pt
      color #ff3333
      margin 16px 0 26px
      line-height 14px
      
    &-price
      font-size 17pt
      margin-bottom 28px
      
    &-social
      
      h6
        margin-bottom 22px
      
    .b-social-icon
      margin 0 15px
      
    &-button
      
      .b-button
        width 100%
        max-width 50%
        
        @media ( max-width 991px ) and ( min-width 768px )
          max-width 100%
      
  &__item.i-passed
    
    .b-schedule__date-time
      color #cccccc
      
  &__item.i-soon
    box-shadow 0 0 20px rgba( 255,0,0,.1 )
    
    .b-schedule__date-time
      color #cc3333
    
    &:hover
      box-shadow 0 0 20px rgba( 255,0,0,.2 )
      
    .b-button
      background-color #eb3535
    
    