.b-offer-table

  table.striped
    thead
      tr
        th План
        th Free
        th Start
        th Pro
        
    tbody
      tr
        th Стоимость в квартал
        td 0
        td 8 000
        td 18 000
      tr
        th Постеры для печати
        td
          i.material-icons close
        td( style="background-color: pink;" )
          i.material-icons close
        td
          i.material-icons check
      tr
        th Банер для соцсетей
        td
          i.material-icons check
        td
          i.material-icons check
        td
          i.material-icons check
      tr
        th Протоколы тестирования<br>RFM Тест
        td
          i.material-icons check
          span 5
        td
          i.material-icons check
          span 10
        td
          i.material-icons check
          span 20
      tr
        th Консультация эксперта
        td
          i.material-icons close
        td
          i.material-icons close
        td
          i.material-icons check
      tr
        th Видеоуроки с техникой упражнений
        td
          i.material-icons close
        td
          i.material-icons check
        td
          i.material-icons check
      tr
        th
        td
          a.b-button.i-size-M( href="" ) Купить
        td
          a.b-button.i-size-M( href="" ) Купить
        td
          a.b-button.i-size-M( href="" ) Купить

