@import '../../styl/component-include.styl'

.b-offer-table
  
  table
    
    th
      font-weight normal

    th,
    td
      padding 10px
      
    thead
      
      th
        font-weight bold
        text-align center
        
        &:first-child
          text-align left
          
        
    td
      text-align center