.b-gallery
  .fotorama( data-width="100%" data-height="574" )
    div
      .b-gallery-img( style="background-image: url( '/upload/gallery/1.jpg' );" )
        a.b-button( href="" ) Записаться на Rehab
    div
      .b-gallery-img( style="background-image: url( '/upload/gallery/1.jpg' );" )
        a.b-button( href="" ) Записаться на Rehab
    div
      .b-gallery-img( style="background-image: url( '/upload/gallery/1.jpg' );" )
        a.b-button( href="" ) Записаться на Rehab
        
style
  | .b-gallery .b-button { background-color: #2ab1aa; }
  | .b-gallery .b-button:hover { background-color: #1eefe4; }
  | .b-gallery .b-button:active { background-color: #b8fffb; }