.b-facts

  h2 Wellcom
    span веллнес компания

  .row
    
    .col-lg-2.col-sm-4.col-xs-6

      .b-facts-item
        
        .b-facts-item__num 7 500
        p Студентов прошли обучение в Wellcom.
        img.lazyload( src="/upload/facts/1.jpg" alt="" )
    
    .col-lg-2.col-sm-4.col-xs-6

      .b-facts-item
        
        img.lazyload( src="/upload/facts/2.jpg" alt="" )
        .b-facts-item__num 3 500
          | 
          span руб
        p Средняя цена на персональную тренировку наших студентов.
        
    hr.visible-xs.clearfix
    
    .col-lg-2.col-sm-4.col-xs-6

      .b-facts-item
        
        .b-facts-item__num 37
        p Клубов оснащены диагностическим оборудованием.
        img.lazyload( src="/upload/facts/3.jpg" alt="" )
        
    hr.visible-md.visible-sm.clearfix
    
    .col-lg-2.col-sm-4.col-xs-6

      .b-facts-item
        
        img.lazyload( src="/upload/facts/4.jpg" alt="" )
        .b-facts-item__num 24
          | 
          span руб
        p Клуба используют программное обеспечение АРМ «Фитнес Врач».
        
    hr.visible-xs.clearfix
    
    .col-lg-2.col-sm-4.col-xs-6

      .b-facts-item
        
        .b-facts-item__num 50
        p Авторских курсов.
        img.lazyload( src="/upload/facts/5.jpg" alt="" )
    
    .col-lg-2.col-sm-4.col-xs-6

      .b-facts-item
        
        img.lazyload( src="/upload/facts/6.jpg" alt="" )
        .b-facts-item__num 75
          | 
          span руб
        p Фитнес клубов в России и СНГ заказали корпоративное обучение.

