@import '../../styl/component-include.styl'

.b-facts

  h2
    font-size 17pt
    font-weight bold
    color #5e7b85
    text-transform uppercase
    text-align center
    line-height 22px
    
    span
      display block
      font-size 8pt

  &-item
  
    &__num
      font-size 25pt
      font-weight bold
      color #5b7882
      margin-bottom 5px
      white-space nowrap
      vertical-align middle
      
      span
        font-size 9pt
        display inline-block
        vertical-align middle
      
    p
      font-size 10.5pt
      line-height 1.5
      margin-bottom 20px
    
    img
      width 100%
      height auto
      display block
      
      &:first-child
        margin-bottom 17px