
<!-- start /components/blog.detail/-->
<link rel="stylesheet" href="/components/blog.detail/style.css"/>
<script src="/components/blog.detail/script.js"></script>
<div itemscope="itemscope" itemtype="http://schema.org/BlogPosting" class="b-blog-detail">
  <div class="container">
    <hr class="i-size-M"/>
    <h1 itemprop="name">Rehab Fitness Matrix BASE 1 — c 24 по 26 октября</h1>
    <hr class="i-line i-size-L"/>
    <div class="row">
      <div itemprop="text" class="col-sm-8 col-sm-offset-2">
        <p>Программа Rehab Fitness Matrix представляет собой уникальное сочетание - персональный подход к тренировкам клиентов с учетом особенностей их осанки, реализуемый в групповом формате. Базовый курс Rehab Fitness Matrix – это первая ступень освоения знаний, необходимых для применения в групповых программах принципов и методик, используемых в персональном формате коррекционных тренировок. </p><a href="" class="b-button i-size-M">Записаться на Rehab</a>
      </div>
    </div>
    <hr class="i-size-M"/>
    <div class="text-center"><img src="/upload/blog/4.jpg" data-original="/upload/blog/4.jpg" alt="" itemprop="image" class="img-responsive"/></div>
    <hr class="i-size-M"/>
    <div class="row">
      <div itemprop="text" class="col-sm-8 col-sm-offset-2">
        <p>От фитнес-тренера, получающего сертификацию Инструктора RFM 1 уровня, требуется знание базовых коррекционных упражнений, умение корректировать у клиентов технику выполнения этих упражнений, знание технологии определения осанки и проведения фитнес-тестирования для контроля результатов, а также четкое исполнение инструкций по поэтапному внедрению программы. </p>
        <p>Дизайн программ, музыкальное сопровождение, последовательность проведения занятий в недельном цикле – все составляющие программы заложены в технологию, которую надо лишь неукоснительно выполнять. </p>
        <p>Обучение на Базовом курсе 1 уровня (BASE 1) Rehab Fitness Matrix позволяет фитнес-тренеру проводить коррекционные фитнес-занятия с базовыми знаниями по функциональной анатомии, физиологии, методике фитнес-тренировки.</p>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="text-center"><img src="/upload/blog/5.jpg" data-original="/upload/blog/5.jpg" alt="" itemprop="image" class="img-responsive"/></div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div itemprop="text" class="col-sm-8 col-sm-offset-2">
        <h2>В программе дистанционного курса (теория):</h2>
        <ul class="browser-default">
          <li>Описание, Цели и Средства уроков Rehab Fitness Matrix</li>
          <li>Технологии, методики и оборудование RFM</li>
          <li>Методика определение состава тела (биоимпедансный метод или каллиперометрия)</li>
          <li>Определение сколиоза и одного из 4-х видов осанки с помощью двигательных тестов на сетке «RFM Тест Осанка», определение МПК</li>
          <li>В программе очного курса (практика):</li>
          <li>Проведение тестирования МПК</li>
          <li>Проведение тестирования осанки</li>
          <li>Проведение тестирования состава тела</li>
          <li>Техника выполнения упражнений RFM 1 уровень</li>
          <li>Правила корректировки техники у клиентов</li>
          <li>Речевые модули для объяснения клиентам техники выполнения и ее коррекции</li>
          <li>Мастер-классы RFM Balance, RFM Core, RFM Flex (1 уровень)</li>
        </ul>
        <h2>На семинаре вы научитесь:</h2>
        <ul class="browser-default">
          <li>определять нарушение осанки и распределять клиентов по 4-м основным видам осанки</li>
          <li>определять сколиоз</li>
          <li>проводить уроки RFM 1 уровня под заданный дизайн (последовательность и музыкальное сопровождение)</li>
          <li>корректировать технику выполнения упражнений относительно вида нарушения осанки</li>
          <li>применять методики миофасциального расслабления, функциональной тренировки по мышечным цепям, коррекционные и дыхательные упражнения</li>
        </ul>
        <h2>Пакет участника обучения:</h2>
        <ul class="browser-default">
          <li>Презентации</li>
          <li>Методическое пособие</li>
          <li>Каталог упражнений</li>
          <li>Последовательность упражнений в уроке с количеством подходов и повторений (дизайн уроков) для уроков RFM Balance, RFM Core, RFM Flex (1 уровень)</li>
          <li>Музыкальные треки (55 мин) RFM Balance, RFM Core, RFM Flex (1 уровень)</li>
          <li>Сертификат при успешном прохождении теоретического и практического блоков</li>
        </ul>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        <div data-services="collections,vkontakte,facebook,odnoklassniki,moimir,gplus,evernote,lj,surfingbird,viber,whatsapp,skype,telegram" class="ya-share2"></div>
      </div>
    </div>
    <hr/>
  </div>
  <div class="b-white-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Запись на Rehab</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <table class="table">
            <tbody>
              <tr>
                <th>Продолжительность дистанционно</th>
                <td>2 занятия по 2 часа в обозначенное время</td>
              </tr>
              <tr>
                <th>Продолжительность очно</th>
                <td>3 дня (21 час)</td>
              </tr>
              <tr>
                <th>Дата проведения</th>
                <td>24-26 октября</td>
              </tr>
              <tr>
                <th>Стоимость семинара</th>
                <td>13 000 р.</td>
              </tr>
              <tr>
                <th>Семинар проводит</th>
                <td>Эльмира Хабибуллина </td>
              </tr>
            </tbody>
          </table>
          <hr class="i-size-S"/>
          <div class="text-center"><a href="" class="b-button">Записаться на Rehab</a></div>
          <hr class="i-size-S"/>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/blog.detail/-->