.b-blocks
  .row
    
    .col-lg-6
    
      .b-blocks-item
      
        .row
        
          .col-sm-6
            a.b-blocks-item__img( href="" )
              img.lazyload( src="/upload/block/1.jpg" alt="" )
              
          .col-sm-6.b-blocks-item__text
            h3
              a( href="" ) Групповые программы Rehab Fitness Matrix
              
            hr.i-decor
            
            p Уникальное сочетание — персональный подход к тренировкам клиентов с учетом особенностей осанки.
            
        a.b-blocks-item__button( href="" ) Записаться
        
    hr.visible-md.visible-sm.visible-xs
    
    .col-lg-6
    
      .b-blocks-item
      
        .row
        
          .col-sm-6
            a.b-blocks-item__img( href="" )
              img.lazyload( src="/upload/block/2.jpg" alt="" )
              
          .col-sm-6.b-blocks-item__text
            h3
              a( href="" ) Кабинет Функциональной Диагностики!
              
            hr.i-decor
            
            p Современное оборудование для проведения фитнес-врачом полноценной функциональной диагностики. основных систем организма позволяет поддерживать авторитет фитнес-тестирования и способствует продаже дополнительных услуг.
            
        a.b-blocks-item__button( href="" ) Выбрать оборудование
        
  hr
        
  .row
    
    .col-lg-6
    
      .b-blocks-item
      
        .row
        
          .col-sm-6
            a.b-blocks-item__img( href="" )
              img.lazyload( src="/upload/block/3.jpg" alt="" )
              
          .col-sm-6.b-blocks-item__text
            h3
              a( href="" ) Программа АРМ Фитнесс врач
              
            hr.i-decor
            
            p программное обеспечение для кабинета фитнес-тестирования АРМ «Фитнес Врач».
            
        a.b-blocks-item__button( href="" ) Купить программу
        
    hr.visible-md.visible-sm.visible-xs
    
    .col-lg-6
    
      .b-blocks-item
      
        .row
        
          .col-sm-6
            a.b-blocks-item__img( href="" )
              img.lazyload( src="/upload/block/4.jpg" alt="" )
              
          .col-sm-6.b-blocks-item__text
            h3
              a( href="" ) Расписание обучение в 2016 году
              
            hr.i-decor
            
            p Узнайте о предстоящих курсах, на которые вы можете записаться!
            
        a.b-blocks-item__button( href="" ) Проверить расписание