@import '../../styl/component-include.styl'

.b-blocks

  &-item
    background-color #fff
    position relative
    text-align center
    font-size 10.5pt
    box-shadow 0 0 20px rgba( 0,0,0,.1 )
    transition( all .1s ease)
    display flex
    justify-content center
    align-items stretch
    
    @media( max-width 767px )
      flex-wrap wrap
    
    &:hover
      transform( scale(1.03))
      box-shadow 0 0 20px rgba( 0,0,0,.2 )
    
    &__img
      width 50%
      background-position center
      background-repeat no-repeat
      background-size cover
      
      @media( max-width 767px )
        padding-top 100%
        width 100%
      
      &:hover
        opacity 1
      
    &__text
      padding 35px 35px 85px 35px
      width 50%
      min-height 305px
      
      @media( max-width 767px )
        width 100%
      
    p
      max-height 90px
      overflow hidden
      margin 0
      line-height 1.5
    
    &__button
      position absolute
      bottom 0
      right 0
      display block
      width 50%
      background-color #f4f4f4
      text-align center
      line-height 58px
      
      @media( max-width 767px )
        width 100%
      
      &:hover
        text-decoration none
        
    hr.i-decor
      margin-bottom 27px
    