extends ../../layouts/main.jade

block title
  title Blog Post | wellcom

block content
  
  include ../../components/blog.detail/template
    
  .container
  
    hr.i-size-S
    
    include ../../modules/block/include2
  
    hr.i-size-S
    