footer.b-footer

  .container
  
    .row
      .col-sm-3
        .b-footer__link
          a.b-footer__link-image( href="" )
            img( src="/template/images/footer/ymaps.png" alt="" )
          a.b-footer__link-text( href="" ) Посмотреть в приложении Яндекс Карты
      .col-sm-3
        .b-footer__link
          a.b-footer__link-image( href="" )
            img( src="/template/images/footer/ynav.png" alt="" )
          a.b-footer__link-text( href="" ) Проложить маршрут Яндекс Навигатор
          
      hr.visible-xs
      
      .col-sm-3.col-sm-offset-3
        a.b-social-icon( href="" target="_blank" style="background-image: url( '/template/images/svg/facebook.svg' );" )
        a.b-social-icon( href="" target="_blank" style="background-image: url( '/template/images/footer/youtube.png' );" )
        a.b-social-icon( href="" target="_blank" style="background-image: url( '/template/images/svg/vk.svg' );" )
        
    hr.i-size-M
        
    .row
      .col-sm-3
        © Веллнес компания «Велком» — мы делаем реабилитационный фитнес вашей профессией.
        
      .col-sm-3
        p Пн-пт 11:00-19:00<br>Сб-вс выходной
        p ул. Мневники, д.3, к.1, Москва, Россия, 123308.

      .col-sm-3
        p.b-footer-phone (929) 644-00-80 
        p
          a( href="mailto:mail@wellcomclub.ru" ) mail@wellcomclub.ru

      .col-sm-3
        Сайт создан в Twin px 2017