
<!-- start /components/blog/-->
<link rel="stylesheet" href="/components/blog/style.css"/>
<script src="/components/blog/script.js"></script>
<div itemscope="itemscope" itemtype="http://schema.org/Blog" class="b-blog">
  <h1>Веллнес журнал</h1>
  <hr class="i-size-L i-line"/>
  <div itemscope="itemscope" itemtype="http://schema.org/blogPost" class="row">
    <div class="col-sm-6"><a href="" class="b-blog__img"><img src="/upload/blog/1.jpg" data-original="/upload/blog/1.jpg" alt="" itemprop="image" class="lazyload"/></a></div>
    <div class="col-sm-6">
      <h2><a href="" itemprop="name">Rehab Fitness Matrix BASE 1</a></h2>
      <div itemprop="text">
        <p>Программа Rehab Fitness Matrix представляет собой уникальное сочетание - персональный подход к тренировкам клиентов с учетом особенностей их осанки, реализуемый в групповом формате. Базовый курс Rehab Fitness Matrix – это первая ступень освоения знаний, необходимых для применения в групповых программах принципов и методик, используемых в персональном формате коррекционных тренировок.</p>
      </div>
    </div>
  </div>
  <hr class="i-size-L i-line"/>
  <div itemscope="itemscope" itemtype="http://schema.org/blogPost" class="row">
    <div class="col-sm-6"><a href="" class="b-blog__img"><img src="/upload/blog/2.jpg" data-original="/upload/blog/2.jpg" alt="" itemprop="image" class="lazyload"/></a></div>
    <div class="col-sm-6">
      <h2><a href="" itemprop="name">Здоровый позвоночник. Групповая тренировка</a></h2>
      <div itemprop="text">
        <p>Программа Rehab Fitness Matrix представляет собой уникальное сочетание - персональный подход к тренировкам клиентов с учетом особенностей их осанки, реализуемый в групповом формате..</p>
      </div>
    </div>
  </div>
  <hr class="i-size-L i-line"/>
  <div itemscope="itemscope" itemtype="http://schema.org/blogPost" class="row">
    <div class="col-sm-6"><a href="" class="b-blog__img"><img src="/upload/blog/3.jpg" data-original="/upload/blog/3.jpg" alt="" itemprop="image" class="lazyload"/></a></div>
    <div class="col-sm-6">
      <h2><a href="" itemprop="name">Практикум: Реабилитационный фитнес при межпозвонковых грыжах в шейном отделе</a></h2>
      <div itemprop="text">
        <p>Программа Rehab Fitness Matrix представляет собой уникальное сочетание - персональный подход к тренировкам клиентов с учетом особенностей их осанки, реализуемый в групповом формате..</p>
      </div>
    </div>
  </div>
</div>
<!-- end /components/blog/-->