extends ./layouts/main.jade

block title
  title Main page | wellcom

block content

  hr
  
  include ./modules/gallery/fotorama
  include ./modules/gallery/include
  
  hr
  
  .container
  
    include ./modules/block/include
    
    hr
    
    include ./modules/facts/include
    
    hr
    